.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 380px;
    height: 721px;
    top: -1px;
    background: #86D3F4;
}

.title {
    position: static;
    left: 14.21%;
    right: 14.21%;
    top: 9.99%;
    bottom: 81.69%;
    width: 284px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.number {
    width: 280px;
    position: static;
    left: 15.79%;
    right: 15.79%;
    top: 20.11%;
    bottom: 74.62%;
    outline:none;
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin: 13px 60px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

.description {
    width: 284px;
    height: 28px;
    position: static;
    left: 5.66%;
    right: 5.66%;
    top: 27.18%;
    bottom: 68.38%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.buttonNum {
    width: 88px;
    height: 52px;
    padding: 0;
    margin: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.buttonNum:active {
    width: 88px;
    height: 52px;
    padding: 0;
    margin: 5px;
    background-color: black;
    color: white;
}

.containerButtons {
    text-align: center;
    margin: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.buttonPanel {
    display: inline-block;
}

.buttonDelete {
    width: 186px;
    height: 52px;
    padding: 0;
    margin: 5px;
}
.buttonDelete:active {
    width: 186px;
    height: 52px;
    padding: 0;
    margin: 5px;
    background-color: black;
    color: white;
}

.agreementContainer {
    display: flex;
    width: 284px;
    margin-bottom: 15px;
}

.checkbox {
    width: 40px;
    height: 40px;
    background: #86D3F4;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.agreement {
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 150px;

    color: #565656;
}

.enterButton {
    padding-left: 50px;
    width: 284px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #4E4E4E;
}
.enterButton:active {
    padding-left: 50px;
    width: 284px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
}